<a href="https://colab.research.google.com/github/NguyenDuyTan0302/BaiTapNNLT/blob/master/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

![image.png]()

Series 1:

In [7]:
ho_va_ten = pd.Series(["Nguyễn Duy Tân", "Lê Bá Quốc Trung", "Lê Quang Trung", "Nguyễn Phan Hữu Phát", "Lê Gia Hân", "Trần Phúc Thái Trường", "Hoàng Ngọc Bảo Anh", "Nguyễn Thùy Trang", "Hồ Đỗ Quỳnh Tiên", "Hoàng Hải Anh"])

Series 2:

In [6]:
ngay_sinh = pd.Series(["03/02/2003","20/02/2003","19/09/2003","25/03/2003","07/11/2003","30/01/2003","04/01/2004","19/10/2004","16/08/2003","17/08/2003"])

Series 3:

In [5]:
tien_cong_h = pd.Series([10000,12000,22000,30000,24000,15000,13000,8000,11000,23000])

Series 4:

In [4]:
so_h_cong = pd.Series([1,2,3,4,5,6,7,8,9,10])

Series 5:

In [8]:
thuc_linh = pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Ghép lại:

In [9]:
df = pd.DataFrame({"Họ và tên": ho_va_ten,"Ngày sinh": ngay_sinh,"Tiền công/giờ": tien_cong_h,"Số giờ công": so_h_cong,"Thực lĩnh": thuc_linh})

Tính cột "Thực lĩnh" :

In [10]:
df["Thực lĩnh"] = df["Số giờ công"] * df["Tiền công/giờ"]

In toàn bộ dataframe

In [11]:
df

               Họ và tên   Ngày sinh  Tiền công/giờ  Số giờ công  Thực lĩnh
0         Nguyễn Duy Tân  03/02/2003          10000            1      10000
1       Lê Bá Quốc Trung  20/02/2003          12000            2      24000
2         Lê Quang Trung  19/09/2003          22000            3      66000
3   Nguyễn Phan Hữu Phát  25/03/2003          30000            4     120000
4             Lê Gia Hân  07/11/2003          24000            5     120000
5  Trần Phúc Thái Trường  30/01/2003          15000            6      90000
6     Hoàng Ngọc Bảo Anh  04/01/2004          13000            7      91000
7      Nguyễn Thùy Trang  19/10/2004           8000            8      64000
8       Hồ Đỗ Quỳnh Tiên  16/08/2003          11000            9      99000
9          Hoàng Hải Anh  17/08/2003          23000           10     230000

Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:

- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;

In [12]:
ho_va_ten = pd.Series(["Nguyễn Duy Tân", "Lê Bá Quốc Trung", "Lê Quang Trung", "Nguyễn Phan Hữu Phát", "Lê Gia Hân", "Trần Phúc Thái Trường", "Hoàng Ngọc Bảo Anh", "Nguyễn Thùy Trang", "Hồ Đỗ Quỳnh Tiên", "Hoàng Hải Anh"])
tuoi = [18,18,18,18,18,17,18,19,20,19]
gioi_tinh = ["Nam","Nam","Nam","Nam","Nữ","Nam","Nữ","Nữ","Nữ","Nữ"]

In [21]:
df2 = pd.DataFrame(np.array([ho_va_ten,tuoi,gioi_tinh]).T,columns = ["Họ và tên", "Tuổi", "Giới tính"])
df2

               Họ và tên Tuổi Giới tính
0         Nguyễn Duy Tân   18       Nam
1       Lê Bá Quốc Trung   18       Nam
2         Lê Quang Trung   18       Nam
3   Nguyễn Phan Hữu Phát   18       Nam
4             Lê Gia Hân   18        Nữ
5  Trần Phúc Thái Trường   17       Nam
6     Hoàng Ngọc Bảo Anh   18        Nữ
7      Nguyễn Thùy Trang   19        Nữ
8       Hồ Đỗ Quỳnh Tiên   20        Nữ
9          Hoàng Hải Anh   19        Nữ

- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;

In [20]:
df3 = pd.DataFrame({"Họ tên": ho_va_ten,"Tuổi": tuoi,"Giới tính":gioi_tinh})
df3

                  Họ tên  Tuổi Giới tính
0         Nguyễn Duy Tân    18       Nam
1       Lê Bá Quốc Trung    18       Nam
2         Lê Quang Trung    18       Nam
3   Nguyễn Phan Hữu Phát    18       Nam
4             Lê Gia Hân    18        Nữ
5  Trần Phúc Thái Trường    17       Nam
6     Hoàng Ngọc Bảo Anh    18        Nữ
7      Nguyễn Thùy Trang    19        Nữ
8       Hồ Đỗ Quỳnh Tiên    20        Nữ
9          Hoàng Hải Anh    19        Nữ

- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;

In [22]:
df4 = pd.DataFrame([{"Họ và tên": "Nguyễn Duy Tân", "Tuổi": 19,"Giới tính": "Nam"},{"Họ và tên": "Lê Bá Quốc Trung", "Tuổi": 18,"Giới tính": "Nam"},{"Họ và tên": "Lê Quang Trung", "Tuổi": 18,"Giới tính": "Nam"},{"Họ và tên": "Nguyễn Phan Hữu Phát", "Tuổi": 18,"Giới tính": "Nữ"},{"Họ và tên": "Lê Gia Hân", "Tuổi": 18,"Giới tính": "Nam"},{"Họ và tên": "Trần Phúc Thái Trường", "Tuổi": 18,"Giới tính": "Nam"},{"Họ và tên": "Hoàng Ngọc Bảo Anh", "Tuổi": 18,"Giới tính": "Nữ"},{"Họ và tên": "Nguyễn Thùy Trang", "Tuổi": 17,"Giới tính": "Nữ"},{"Họ và tên": "Hồ Đỗ Quỳnh Tiên", "Tuổi": 28,"Giới tính": "Nữ"},{"Họ và tên": "Hoàng Hải Anh", "Tuổi": 18,"Giới tính": "Nữ"}])
df4

               Họ và tên  Tuổi Giới tính
0         Nguyễn Duy Tân    19       Nam
1       Lê Bá Quốc Trung    18       Nam
2         Lê Quang Trung    18       Nam
3   Nguyễn Phan Hữu Phát    18        Nữ
4             Lê Gia Hân    18       Nam
5  Trần Phúc Thái Trường    18       Nam
6     Hoàng Ngọc Bảo Anh    18        Nữ
7      Nguyễn Thùy Trang    17        Nữ
8       Hồ Đỗ Quỳnh Tiên    28        Nữ
9          Hoàng Hải Anh    18        Nữ

- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [24]:
df5 = pd.DataFrame(zip(ho_va_ten, tuoi, gioi_tinh), columns = ["Họ và tên", "Tuổi", "Giới tính"])
df5

               Họ và tên  Tuổi Giới tính
0         Nguyễn Duy Tân    18       Nam
1       Lê Bá Quốc Trung    18       Nam
2         Lê Quang Trung    18       Nam
3   Nguyễn Phan Hữu Phát    18       Nam
4             Lê Gia Hân    18        Nữ
5  Trần Phúc Thái Trường    17       Nam
6     Hoàng Ngọc Bảo Anh    18        Nữ
7      Nguyễn Thùy Trang    19        Nữ
8       Hồ Đỗ Quỳnh Tiên    20        Nữ
9          Hoàng Hải Anh    19        Nữ