<a href="https://colab.research.google.com/github/NguyenDuyTan0302/BaiTapNNLT/blob/master/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

![image.png]()

Series 1:

In [7]:
ho_va_ten = pd.Series(["Nguyn Duy Tn", "L B Quc Trung", "L Quang Trung", "Nguyn Phan Hu Pht", "L Gia Hn", "Trn Phc Thi Trng", "Hong Ngc Bo Anh", "Nguyn Thy Trang", "H  Qunh Tin", "Hong Hi Anh"])

Series 2:

In [6]:
ngay_sinh = pd.Series(["03/02/2003","20/02/2003","19/09/2003","25/03/2003","07/11/2003","30/01/2003","04/01/2004","19/10/2004","16/08/2003","17/08/2003"])

Series 3:

In [5]:
tien_cong_h = pd.Series([10000,12000,22000,30000,24000,15000,13000,8000,11000,23000])

Series 4:

In [4]:
so_h_cong = pd.Series([1,2,3,4,5,6,7,8,9,10])

Series 5:

In [8]:
thuc_linh = pd.Series([])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Ghp li:

In [9]:
df = pd.DataFrame({"H v tn": ho_va_ten,"Ngy sinh": ngay_sinh,"Tin cng/gi": tien_cong_h,"S gi cng": so_h_cong,"Thc lnh": thuc_linh})

Tnh ct "Thc lnh" :

In [10]:
df["Thc lnh"] = df["S gi cng"] * df["Tin cng/gi"]

In ton b dataframe

In [11]:
df

               H v tn   Ngy sinh  Tin cng/gi  S gi cng  Thc lnh
0         Nguyn Duy Tn  03/02/2003          10000            1      10000
1       L B Quc Trung  20/02/2003          12000            2      24000
2         L Quang Trung  19/09/2003          22000            3      66000
3   Nguyn Phan Hu Pht  25/03/2003          30000            4     120000
4             L Gia Hn  07/11/2003          24000            5     120000
5  Trn Phc Thi Trng  30/01/2003          15000            6      90000
6     Hong Ngc Bo Anh  04/01/2004          13000            7      91000
7      Nguyn Thy Trang  19/10/2004           8000            8      64000
8       H  Qunh Tin  16/08/2003          11000            9      99000
9          Hong Hi Anh  17/08/2003          23000           10     230000

Cu 2: Khi to dataframe bng cc phng php khc nhau, hy:

- To dataframe c kch thc 10x3 t cu trc list tng ng, vi d liu cho dataframe
ny gm cc ct H tn, Tui v Gii tnh. Xut kt qu ra mn hnh;

In [12]:
ho_va_ten = pd.Series(["Nguyn Duy Tn", "L B Quc Trung", "L Quang Trung", "Nguyn Phan Hu Pht", "L Gia Hn", "Trn Phc Thi Trng", "Hong Ngc Bo Anh", "Nguyn Thy Trang", "H  Qunh Tin", "Hong Hi Anh"])
tuoi = [18,18,18,18,18,17,18,19,20,19]
gioi_tinh = ["Nam","Nam","Nam","Nam","N","Nam","N","N","N","N"]

In [21]:
df2 = pd.DataFrame(np.array([ho_va_ten,tuoi,gioi_tinh]).T,columns = ["H v tn", "Tui", "Gii tnh"])
df2

               H v tn Tui Gii tnh
0         Nguyn Duy Tn   18       Nam
1       L B Quc Trung   18       Nam
2         L Quang Trung   18       Nam
3   Nguyn Phan Hu Pht   18       Nam
4             L Gia Hn   18        N
5  Trn Phc Thi Trng   17       Nam
6     Hong Ngc Bo Anh   18        N
7      Nguyn Thy Trang   19        N
8       H  Qunh Tin   20        N
9          Hong Hi Anh   19        N

- To dataframe nh trn nhng t cu trc Dictionary c cha cc List gi tr tng ng
vi key. Xut kt qu ra mn hnh;

In [20]:
df3 = pd.DataFrame({"H tn": ho_va_ten,"Tui": tuoi,"Gii tnh":gioi_tinh})
df3

                  H tn  Tui Gii tnh
0         Nguyn Duy Tn    18       Nam
1       L B Quc Trung    18       Nam
2         L Quang Trung    18       Nam
3   Nguyn Phan Hu Pht    18       Nam
4             L Gia Hn    18        N
5  Trn Phc Thi Trng    17       Nam
6     Hong Ngc Bo Anh    18        N
7      Nguyn Thy Trang    19        N
8       H  Qunh Tin    20        N
9          Hong Hi Anh    19        N

- To dataframe nh trn nhng t cu trc List ca cc dictionary. Xut kt qu ra mn
hnh;

In [22]:
df4 = pd.DataFrame([{"H v tn": "Nguyn Duy Tn", "Tui": 19,"Gii tnh": "Nam"},{"H v tn": "L B Quc Trung", "Tui": 18,"Gii tnh": "Nam"},{"H v tn": "L Quang Trung", "Tui": 18,"Gii tnh": "Nam"},{"H v tn": "Nguyn Phan Hu Pht", "Tui": 18,"Gii tnh": "N"},{"H v tn": "L Gia Hn", "Tui": 18,"Gii tnh": "Nam"},{"H v tn": "Trn Phc Thi Trng", "Tui": 18,"Gii tnh": "Nam"},{"H v tn": "Hong Ngc Bo Anh", "Tui": 18,"Gii tnh": "N"},{"H v tn": "Nguyn Thy Trang", "Tui": 17,"Gii tnh": "N"},{"H v tn": "H  Qunh Tin", "Tui": 28,"Gii tnh": "N"},{"H v tn": "Hong Hi Anh", "Tui": 18,"Gii tnh": "N"}])
df4

               H v tn  Tui Gii tnh
0         Nguyn Duy Tn    19       Nam
1       L B Quc Trung    18       Nam
2         L Quang Trung    18       Nam
3   Nguyn Phan Hu Pht    18        N
4             L Gia Hn    18       Nam
5  Trn Phc Thi Trng    18       Nam
6     Hong Ngc Bo Anh    18        N
7      Nguyn Thy Trang    17        N
8       H  Qunh Tin    28        N
9          Hong Hi Anh    18        N

- To 3 list (1x10) tng ng vi H tn, Tui v Gii tnh. S dng hm zip()  to
dataframe t 3 list ring bit ny. Xut kt qu ra mn hnh.

In [24]:
df5 = pd.DataFrame(zip(ho_va_ten, tuoi, gioi_tinh), columns = ["H v tn", "Tui", "Gii tnh"])
df5

               H v tn  Tui Gii tnh
0         Nguyn Duy Tn    18       Nam
1       L B Quc Trung    18       Nam
2         L Quang Trung    18       Nam
3   Nguyn Phan Hu Pht    18       Nam
4             L Gia Hn    18        N
5  Trn Phc Thi Trng    17       Nam
6     Hong Ngc Bo Anh    18        N
7      Nguyn Thy Trang    19        N
8       H  Qunh Tin    20        N
9          Hong Hi Anh    19        N